<table>
  <tr>
    <th>Name</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'show', article_path(article) %></td>
      <td><%= link_to 'edit', edit_article_path(article) %></td>
      <td><%= link_to 'destroy', article_path(article), method: :delete, confirm: 'Demi' %></td>
    </tr>
  <% end %>

</table>

<td><%= link_to 'new', new_article_path %></td>

<h1>XXXXX</h1>


<h4>DDDD</h4>
